{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    //Иногда я работаю в винде, а иногда в убунте. ESlint ругается на конец строки(CRLF, LF)
    "linebreak-style": 0
}
}